.Grid1 h1{
   
    /* font-family: "Lato", sans-serif; */
    font-weight: 400;
    margin-left:20px;
    /* font-style: italic; */
  font-size:50px;
  margin-top:10px;
  
}
.Grid1 p{
         font-family: "Lato", sans-serif;
         font-weight: 700;
}
.Grid1{
    margin-top: -3%;
}

#pitch{
    text-align:center !important;
    justify-content:center !important;
    margin-top:45px;
    float:center;
}

#pitch img{
    display:block;
    margin:auto;
}

.cap{
    margin-left:5%;
}

.cap span{
    background-color:#FEBA12;
    color:#fff;
}

.cap span:hover{
    background-color:#f75308;
}